.card {
    width: 140px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.insidecard {
    margin: 10px 10px 10px 10px;
    width: auto;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.cardvalue {
    position: absolute;
    top: -20px;
    left: 0;
}