@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(0,36,16);
    height: 100vh;
background: radial-gradient(circle, rgba(0,36,16,1) 0%, rgba(26,121,9,1) 29%, rgba(255,0,0,1) 78%);
}

.piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
    border-radius: 20%;
}

.piano-back {
    padding: 25px;
    border: 1px solid black;
    background: red;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.note {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.details {
    background: white;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.card-game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 86vh;
}

.scorepad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner {
    font-size: 50px;
    font-weight: bold;
    color: white;
}