.pianotile {
    height: 250px;
    width: 60px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: white;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.note {
    position: absolute;
    bottom: 0;
}

.left-black {
    position: absolute;
    top: 0;
    height: 150px;
    width: 18px;
    border: 1px solid black;
    background: black;
}

.right-black {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 18px;
    border: 1px solid black;
    background: black;
}

.active {
    background: gray !important;
}